$pale-green: #CEF0E3;
$bold-blue: #001587;
$ocean-blue: #42b0f4;
$pale-blue: #e6ffff;
$mint-cream: #f5fffa;
$azure: #f0ffff;
$alice-blue: #f0f8ff;
$lavender: #e6e6fa;
$lavender-blush: #fff0f5;
$misty-rose: #ffe4e1;
$honeydew: #f0fff0;
$light-yellow: #ffffe0;