<nav class="navbar navbar-default nav-styling">
	<div class="container">
			<a class="navbar-brand menu-bar asbestos-title" href="#"><%= image_tag("flame.png") %> Asbestos Trust Search</a>
			<ul class="nav navbar-nav pull-right">
				<li class="dropdown">
					<a class="dropdown-toggle menu-bar my-account" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span><strong class="caret"></strong></a>
						<ul class="dropdown-menu dropdown-menu-right dropdown-menu-background">
							<li><a class="email" title="Email webmaster" href="mailto:adam@adamewhite.com?subject=Asbestos%20Trust%20Search%20Feedback"><span class="glyphicon glyphicon-envelope"></span> Send Feedback</a></li>
							<li class="divider"></li>
							<li ><a href="../access/logout"><span class="glyphicon glyphicon-home"></span> Sign Out</a></li>
						</ul>
				</li>	
			</ul>
	</div>
</nav>